.transaction-form{
  margin: 0;
  width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid rgb(125, 181, 125);
    border-radius: 12px;
  }
  .date-type{
    width: 100%;
    display: flex;
    gap: 5%;
    margin-top: 0.5%;
    padding: 1% 1% 1% 2%;
  }
  .transaction-type{
    width: 100%;
    display: flex;
    gap: 5%;
    padding: 1% 0% 4% 2%;
    
  }
  .labels{
    width: 17%;
    font-weight: 700;
    
  }
  .select-type{
    width: 70%;
    font-weight: 700;
    padding: 10px;
    border-style: ridge ;
  }
.Amountsec{
    width: 100%;
    display: flex;
    gap: 5%;
    padding: 1% 0% 3% 2%;
}

.Amount-type{
    width: 70%;
    font-weight: 700;
    border: none;                 /* No border on all sides */
    border-bottom: 1px solid #000;
    outline: none;
}
.description-text,.Amount-type:focus{
    border: none;               /* Ensure all borders are removed */
    border-bottom: 1px solid #000; /* Add bottom border on focus */
  }
  .description{
    width: 100%;
    display: flex;
    gap: 5%;
    padding: 1% 0% 3% 2%;
  }
.description-text{
    width: 70%;
    font-weight: bold;
    border: none;                 /* No border on all sides */
    border-bottom: 1px solid #000;
    outline: none;
}
.btns{
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;
    margin-bottom: 2%;
    gap: 2%;
}
.savebtn{
    width: 80px;
    padding: 6px;
    background-color: rgb(82, 82, 183);
    color: white;
    border: 1px solid rgb(82, 82, 183) ;
    font-weight: 600;
    border-radius: 8px;

}
.savebtn:hover{
    background-color: rgb(222, 193, 31);
    color: green;
    border-color: rgb(222, 193, 31);
}
.cancelbtn{
    width: 80px;
    padding: 6px;
    background-color: #c3afaf;
    border: 1px solid #c3afaf;
    font-weight: 600;
    border-radius: 8px;
}
.cancelbtn:hover{
    background-color: rgb(107, 164, 146);
    color: rgb(190, 28, 28);
    border-color: rgb(107, 164, 146);
}
.cancelspan{
    padding-left: 4px;
}
.savespan{
    padding-left: 3px;
}